h1 {
    text-align: center;
}
#cuadrado{
/*
    background:black;
    width:9px;
    height:9px;
    position: absolute;
*/}

#bordes{
/*
  background: green;
  width:50px;
  height:50px;
  position: absolute;
*/}
